/** Apply effect only for mouse */
@media only screen and (min-width: 450px) {
    .language-switcher-option:hover {
        background-color: #b6ccfebf !important;
    }

    .language-switcher-container:hover {
        background-color: #b6ccfebf !important;
        transition: all 0.25s ease;
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -webkit-animation-duration: 0.25s;
        animation-duration: 0.25s;
    }
}

.language-switcher-option {
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
}
