.Dropdown-root {
    align-self: flex-start !important;
    display: flex;
    flex-direction: row;
    position: relative;
    min-width: 50px !important;
    max-width: 50px !important;
    height: 100% !important;
}

.Dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 2px;
    box-sizing: border-box;
    color: #333;
    cursor: default;
    outline: none;
    padding: 5px 15px 5px 15px;
    min-width: 50px !important;
    max-width: 50px !important;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
    /** Center text vertically in Safari */
    display: flex;
    justify-content: center;
}

/** Apply effect only for mouse */
@media only screen and (min-width: 450px) {
    .Dropdown-control:hover {
        background-color: #ccdbfd;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
        transition: all 0.25s ease-in-out;
    }
}

.Dropdown-menu {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -6px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    min-width: 50px !important;
    max-width: 50px !important;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
    padding: 5px 15px;
    color: rgba(51, 51, 51, 1.2);
    font-weight: bold;
    text-transform: capitalize;
}

.Dropdown-menu {
    border-top: 1px solid #e9ecef;
}

.Dropdown-option {
    box-sizing: border-box;
    color: rgba(51, 51, 51, 0.8);
    cursor: pointer;
    display: block;
    padding: 8px 10px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.Dropdown-option:hover {
    background-color: #e2eafc;
    color: #333;
}

.Dropdown-option.is-selected:hover {
    background-color: #ccdbfd;
    color: #333;
}

.Dropdown-option.is-selected {
    align-self: center;
    background-color: #ccdbfd;
    color: #333;
    justify-self: center;
    align-self: center;
    pointer-events: none; /** Disable clicking of already selected item/option */
}

.Dropdown-noresults {
    box-sizing: border-box;
    color: #ccc;
    cursor: default;
    display: block;
    padding: 8px 10px;
}

.my-custom-class {
    border: 2px solid red;
    font-weight: bold;
    color: purple;
}

.Dropdown-placeholder {
    text-align: center;
    align-self: center;
}
